<h2>City Weather <span class="tag tag-info small"></span></h2>
<form class="form-inline mb-1">
	<div class="form-group">
		<label for="city">City Name: </label>
		<div class="input-group">
			<input class="form-control" type="text" placeholder="City name" id="city" #city />
			<span class="input-group-btn">
				<button class="btn btn-success" type="button"
					(click)="setCityName(city.value)">Get Weather</button>
			</span>
		</div>
	</div>
</form>
<div class="table-responsive" *ngIf="cityName">
	<span>City Temperature: {{cityName | cityWeather}} K</span>
</div>

<hr />

<user-weather></user-weather>