<div class="alert alert-info" role="alert" *ngIf="lat && lng">
	<h4 class="alert-heading">Your current coordinates: </h4>
	<p class="mb-0">Latitude: {{lat | number: '2.2-2'}}, Longitude: {{lng | number: '2.2-2'}}</p>
</div>

<cities-table [weatherDataByPage]="weatherDataByPage" [citiesCount]="citiesCount"
              [pageMaxCount]="PAGE_MAX_COUNT" [lastUpdateTableDate]="lastUpdatedWeatherDataDate"
              (onUpdateData)="getWeatherData($event)"></cities-table>

<rxjs-homework></rxjs-homework>

<loader [ngClass]="{'show': showLoader}"></loader>
<toaster-container></toaster-container>