<div *ngIf="weatherDataByPage.length">
    <h2>Weather Data
        <span class="tag tag-info small">{{lastUpdateTableDate | date: 'short'}}</span>
        <button type="button" class="btn btn-info" (click)="updateData()"><i class="fa fa-refresh"></i></button>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Icon</th>
                <th><i class="fa fa-map-marker" aria-hidden="true"></i> Name</th>
                <th><i class="fa fa-thermometer-full" aria-hidden="true"></i> Temperature, C&ordm;</th>
                <th><i class="fa fa-angle-double-down" aria-hidden="true"></i> Pressure</th>
                <th><i class="fa fa-tint" aria-hidden="true"></i> Humidity</th>
                <th><i class="fa fa-flag" aria-hidden="true"></i> Wind speed</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of weatherDataByPage[page-1]; let i = index" [colorWeather]="item.main.temp | formatTemperature: 'K': 'C'" >
                <td>{{(i * + 1 + pageMaxCount * (page-1))}}</td>
                <td>
                    <weather-icon [iconName]="item.weather[0].icon"></weather-icon>
                </td>
                <td>{{item.name | uppercase}}</td>
                <td>{{item.main.temp | formatTemperature: 'K': 'C' | number : '1.1-1'}}</td>
                <td>{{item.main.pressure}}</td>
                <td>{{item.main.humidity}}</td>
                <td>
                    <wind-data [windSpeed]="item.wind.speed" [windDeg]="item.wind.deg"></wind-data>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ngb-pagination [collectionSize]="citiesCount" [(page)]="page" [maxSize]="pageMaxCount" [rotate]="true"
                    [boundaryLinks]="true"></ngb-pagination>
    <hr>
</div>