.wind-sign {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	border-radius: 50%;
	border: 1px solid #373a3c;
	text-align: center;
	background: rgba(255,255,255,.5);
}

.wind-arrow {
	font-size: 18px;
	line-height: 0;
	vertical-align: 3px;
	color: #5cb85c;
}