<div class="weather-icon" [ngSwitch]="iconName">
	<img *ngSwitchCase="'01d'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/01d.png" alt="">
	<img *ngSwitchCase="'02d'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/02d.png" alt="">
	<img *ngSwitchCase="'03d'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/03d.png" alt="">
	<img *ngSwitchCase="'04d'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/04d.png" alt="">
	<img *ngSwitchCase="'09d'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/09d.png" alt="">
	<img *ngSwitchCase="'10d'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/10d.png" alt="">
	<img *ngSwitchCase="'11d'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/11d.png" alt="">
	<img *ngSwitchCase="'13d'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/13d.png" alt="">
	<img *ngSwitchCase="'50d'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/50d.png" alt="">
	<img *ngSwitchCase="'01n'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/01n.png" alt="">
	<img *ngSwitchCase="'02n'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/02n.png" alt="">
	<img *ngSwitchCase="'03n'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/03n.png" alt="">
	<img *ngSwitchCase="'04n'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/04n.png" alt="">
	<img *ngSwitchCase="'09n'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/09n.png" alt="">
	<img *ngSwitchCase="'10n'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/10n.png" alt="">
	<img *ngSwitchCase="'11n'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/11n.png" alt="">
	<img *ngSwitchCase="'13n'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/13n.png" alt="">
	<img *ngSwitchCase="'50n'" src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/50n.png" alt="">
</div>