<div>
	<h2>User's Weather Data</h2>

	<form [formGroup]="addUserCityForm" class="form-inline mb-1">
		<div class="form-group">
			<label for="city">Add city to the list: </label>
			<div class="input-group">
				<input [formControl]="userCity" class="form-control" type="text" placeholder="City name" id="city"/>
				<span class="input-group-btn">
					<button class="btn btn-success" type="button"
					        (click)="addCity()">Add
					</button>
				</span>
			</div>
		</div>
	</form>

	<user-weather-table [cities]="cities"
	                    (onRemoveCity)="removeCity($event)"
	                    (onSwitchFavorite)="switchFavorite($event)"></user-weather-table>
</div>
